@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* importing a specifc font! */

body {
  font-family: 'Roboto', sans-serif; /* adding a different front imported from Google Fonts! */
  margin: 0px;
  padding: 0px;
}

#upper-bar {
  background-color: #ff5A33;
}

#upper-bar-title {
  color: white
}

main {
  padding: 16px;
  margin-bottom: 10px; /*adding a bottom margin to make sure the footer does not cover*/
}

img {
  height: 200px
}

nav {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  padding: 16px
}

a {
  text-decoration: none;
}

.meal-title {
  color: #44803f;
 }

.meal-title:hover{
  box-shadow: 2px 2px 2px 2px #44803f;
  transition: box-shadow 1s;
}

h1 {
  color: #146152;
}

.list-of-meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

footer {
  padding: 24px;
}

#bottom-bar {
  background-color: #b4cf66;
  font-size: 16px
}

.rows-in-ingredients tr:nth-child(even) {
  background-color: rgb(236, 234, 234);
}
